<div class="shadow-corner-curl hidden-xs">
  <br />
  <ul class="list-unstyled">
      <a href="http://www.kymjs.com/about"><img src="http://www.kymjs.com/images/kymjs_round.png" alt="kymjs张涛" style="width:80%">
      </a>
  </ul>

  <span><a href="http://www.kymjs.com/about">
  <center><font color="#000000">kymjs张涛</font></center>
  </a></span><br>

  <ul class="list-unstyled">
    &nbsp;&nbsp;&nbsp;&nbsp;沪江教育 Android 开发工程师。  爱看书，爱敲码，善于交流，乐于分享。也曾跨界运营，担任过电影《<a href="http://baike.baidu.com/view/8784406.htm">天籁：一万年以后</a>》新媒体产品运营。

    <hr width="90%" style="border:1px dashed black; height:1px">

    <a href="http://www.kymjs.com/"></a><font color="red"><b>QQ交流群：</b></font>
    <p><a href="http://www.kymjs.com/" target="_blank"></a><a href="http://jq.qq.com/?_wv=1027&amp;k=UH2fnF" target="_blank"><font color="blue"><b>257053751</b></font>（1群，2000人）</a></p>
    <p><a href="http://jq.qq.com/?_wv=1027&amp;k=P9EObD" target="_blank"><font color="blue"><b>201055521</b></font>（2群，1000人，已满）</a></p>
    <font color="red"><b>我的邮箱：</b></font><br>
    <p><b>kymjs123@gmail.com</b></p>
    <br />
  </ul>
  <br />
</div>
