<div class="shadow-corner-curl hidden-xs">
    <div class="categories-list-header" align="center">
    	友链
    </div>

	<ul class="list-unstyled">
		<br />
		<div align="center">
			<li><a href="http://xiequan.info/">谢权的博客</a></li>	
			<li><a href="http://droidyue.com/">技术小黑屋博客</a></li>	
			<li><a href="http://www.mobile-open.com">阳和移动开发</a></li>
			<li><a href="http://rocko.xyz/">rocko的博客</a></li>	
			<li><a href="http://tanfujun.com/">晓_晨DEV的博客</a></li>
			<li><a href="http://www.vmatianyu.cn/">马天宇的博客</a></li>
			<li><a href="http://www.aplesson.com/">谭东的博客</a></li> 
			<li><a href="http://drakeet.me/">Drakeet@晓锋的博客</a></li>
			<li><a href="http://blog.csdn.net/bboyfeiyu">MrSimple的专栏</a></li>
		</div>
		<br />
	</ul>
</div>
