<div class="shadow-corner-curl hidden-xs">
    <div class="categories-list-header" align="center">
    	本周热门
    </div>

	<ul class="list-unstyled">
		<br />
		<li><a href="/column/resourcecode.html"><font color="#EE0000">【精】</font>EventBus 源码研读系列</a></li>  
		<li><a href="/code/2015/10/18/01/">支持 gif 的图片预览控件</a></li>
		<li><a href="/code/2015/06/06/01/">Android 流式布局实现</a></li>
		<li><a href="/code/2015/11/09/01/"><font color="#EE0000">【精】</font>用 MVP 架构开发 Android 应用</a></li>
		<li><a href="/code/2015/05/26/01/">Android 夜间模式实现</a></li>
		<li><a href="/stickies/2015/04/27/01/">我的创业方案——都市书吧</a></li>
		<li><a href="/code/2015/04/01/01/"><font color="#EE0000">【精】</font>致那些正在迷茫期的开发者</a></li>	
		<br />
	</ul>
</div>
