<div class="shadow-corner-curl hidden-xs">
    <div class="categories-list-header" align="center">
      为你推荐
    </div>   

    <ul class="list-unstyled">
      <br />
      <div align="center">
        <li><a href="https://github.com/kymjs?tab=repositories">我的GitHub</a></li> 
        <li><a href="/works">开源实验室</a></li>
        <li><a href="http://p.codekk.com/">CodeKK</a></li>
        <li><a href="http://www.androidweekly.cn/">Android开发技术周报</a></li>
        <li><a href="http://androiddevtools.cn/">AndroidDevTools</a></li>
      </div>
      <br />
    </ul>
</div>
