---
layout: page-column
title: 专栏博客
image: /image/logo.png
icon: glyphicon-play
---
<div id="index" class="row">
  <div class="col-sm-9">
    <div class="post-area">
      
        <div class="post-list-header">
          <br />
          <font color="#555555">还差得远呢</font>
          <br />
        </div>

    <!-- 瀑布流内容 -->
    <br /><br />
    <div id="fall">
      <ul>
        <li>
          <a href="/column/english.html">
            <img src="/images/column/english.jpg" alt="开源实验室：英语学习之路">
          </a>
          <div class="head">
            <a href="/column/english.html">《英语学习之路》</a>
          </div>
        </li>
      </ul>

      <ul>
        <li>
          <a href="/column/developer.html">
            <img src="/images/column/developer.jpg" alt="开源实验室：工程师的进化">
          </a>
          <div class="head">
            <a href="/column/developer.html">《工程师的进化》</a>
          </div>
        </li>
      </ul>

      <ul>
        <li>
          <a href="/column/stickies.html">
            <img src="/images/column/stickies.jpg" alt="开源实验室：思绪万千">
          </a>
          <div class="head">
            <a href="/column/stickies.html">《思绪万千》</a>
          </div>  
        </li>
      </ul>
      
      <ul>
        <li>
          <a href="/column/resourcecode.html">
            <img src="/images/column/resourcecode.jpg" alt="开源实验室：源码研读">
          </a>
          <div class="head">
            <a href="/column/resourcecode.html">《源码研读》</a>
          </div>  
        </li>
      </ul>
    </div><!-- 瀑布流内容结束 -->

    </div>
  </div><!-- col-sm-9结束 -->

  <div class="col-sm-3">
    <div id="myAffix" class="shadow-bottom-center hidden-xs" >
      <div class="categories-list-header" align="center">
        支持我请点击右上角的
        <a href="https://github.com/kymjs"><button class="btn btn-sm btn-primary js-toggler-target" title="Follow kymjs">Follow</button> </a>
      </div>
    <!--  <div class="content-text"></div> -->
    </div>
    <p>

    </p>
    {% include weqrcode.html %} 
    <p>

    </p>
    {% include links.html %} 
  </div>
</div>

