---
layout: default
---
<div id="index" class="row">
  <div class="col-sm-9">
    <div class="post-area">
      <a href="http://blog.kymjs.com/tweet/" title="留言板">
        <div class="post-list-header">
          <br />
          <font color="#333333">专栏博客</font>
          <br />
        </div>
      </a>
      <!-- 内容 -->
      <div class="post-list-body">  
        <div class="all-posts" post-cate="All">
        {% assign is_first = 0 %} 
          <!-- 有多少个专栏类型就打印多少个ul -->  
          {% for num in (0..site.column_num) %}
            <ul>
              <!-- 找出专栏类型为num的post -->  
              {% for post in site.posts %} 
                <!-- post.column[0]专栏序列，post.column[1]专栏名 -->
                {% if post.column[0] == num %}
                  <!-- 如果之前没有打印过专栏名(专栏的第一篇)则先打印专栏名 -->
                  {% if is_first != num %}
                    <br /><h3>《{{ post.column[1] }}》</h3>
                    {% assign is_first = num %}
                  {% endif %}
                  <li>
                    <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ post.title }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}<!-- 类型为num的专栏显示完成 -->
            </ul>

          {% endfor %} <!-- 专栏全部打印结束 -->
          <br />
        </div>
      </div><!-- 内容结束 -->

    </div>
  </div><!-- col-sm-9结束 -->

  <div class="col-sm-3">
    <div id="myAffix" class="shadow-bottom-center hidden-xs" >
      <div class="categories-list-header" align="center">
        支持我请点击右上角的
        <a href="https://github.com/kymjs"><button class="btn btn-sm btn-primary js-toggler-target" title="Follow kymjs">Follow</button> </a>
      </div>
    <!--  <div class="content-text"></div> -->
    </div>
    <p>

    </p>
    {% include weqrcode.html %} 
    <p>

    </p>
    {% include links.html %} 
  </div>
</div>

