---
layout: default
---
<div class="row">
  <div id="myArticle" class="col-sm-9">
    <div class="post-area post">
      <a href="/">开源实验室</a> 
      {% if page.column[0] %}
        » <a href="/column/">专栏</a> 
        {% if page.column[0] == 1 %}
          » <a href="/column/english.html">英语学习之路</a> 
        {% endif %}
        {% if page.column[0] == 2 %}
          » <a href="/column/developer.html">工程师的进化</a> 
        {% endif %}
        {% if page.column[0] == 3 %}
          » <a href="/column/stickies.html">思绪万千</a> 
        {% endif %}
        {% if page.column[0] == 4 %}
          » <a href="/column/resourcecode.html">源码研读</a>
        {% endif %}
        {% if page.column[0] == 5 %}
          » <a href="/column/monthbook.html">每月一书</a>
        {% endif %} 
        {% if page.column[0] == 6 %}
          » <a href="/column/plugin.html">Android插件化</a>
        {% endif %}
      {% else %}
        {% if page.tags %}
          » <a href="/">{{ page.tags[0] }}</a>
        {% endif %}
      {% endif %}
      » 正文 
      <header align="center">
        <h1>{{ page.title }}</h1>
      </header>
      <br>
      <div align="right">{{ page.date | date: "%Y-%m-%d" }} By 张涛</div>
      <hr>
      <article id="page">
        <h3>写在前面</h3>
        本文原创，转载请以链接形式注明地址：<a href="http://kymjs.com{{ page.url }}">http://kymjs.com{{ page.url }}</a><br>
        <!-- 本博客客户端下载【<a href="http://www.kymjs.com/app">请点击</a>】<br> -->
        {{ page.description }}<br><br>
        {{content}}
        <br>
        <div class="support-author">
          <!-- <p>点下广告，不会怀孕，来点打赏，我更高兴！😘😘😘</p> -->
          <p> 打赏支持 😘😘😘</p>
            <a href="/donate"><button class="btn btn-sm btn-primary js-toggler-target" title="Follow kymjs">¥ 打赏支持</button> </a>
        </div>

        <div align="center"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-4706145830093249"
               data-ad-slot="1547827239"
               data-ad-format="auto"></ins>
          <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>

      </article>
      <hr>
    </div>
    <div class="post-area post comment">
      <!-- 多说评论框 start -->
      
      <div class="ds-thread" data-thread-key="{{ page.url }}" data-title="{{ page.title }}" data-image="http://www.kymjs.com/image/logo_s.jpg" data-url="http://www.kymjs.com{{ page.url }}"></div>
      
      <!-- 多说评论框 end -->
    </div>
  </div>

  <div id="content" class="col-sm-3">
    <div id="myAffix" class="shadow-bottom-center hidden-xs" >
      <div class="categories-list-header" align="center">
        支持我请点击右上角的
        <a href="https://github.com/kymjs"><button class="btn btn-sm btn-primary js-toggler-target" title="Follow kymjs">Follow</button> </a>
      </div>
    <!--  <div class="content-text"></div> -->
    </div>

    <p>
      
    </p>

    <div id="myAffix" class="shadow-bottom-center hidden-xs" >

      <div class="categories-list-header" align="center">
        <a href="https://github.com/kymjs/kymjs.github.io/blob/master/_posts/{{ page.date | date: "%Y-%m-%d" }}-01.md"> - -> <font color="#FF0000">文章纠错</font> <- - </a>
      </div>
      
    <!--
    <div class="categories-list-header" align="center">
        Android 的 MVP 架构
        <a href="https://github.com/kymjs/TheMVP"><button class="btn btn-sm btn-primary js-toggler-target" title="Star TheMVP">Star</button> </a>
      </div>
    -->
    </div>

    <p>
      
    </p>
    {% include about.html %} 
    <p>
      
    </p>
    {% include links.html %}  
    <p>

    </p>
    {% include weibo_post.html %}  
    <p>

    </p>
    {% include hot.html %}
  </div>
</div>